arrowParens: "{{.PrettierOptions.ArrowParens}}",
bracketSpacing: false,
printWidth: 80,
semi: {{.PrettierOptions.WithSemi}},
singleQuote: {{.PrettierOptions.SingleQuote}},
tabWidth: {{.PrettierOptions.TabWidth}},
trailingComma: "es5",
useTabs: false
